body {background-color:#99ccff;}

table { font-family: arial, sans-serif;
  border-collapse: collapse;
  width:65%; 
  background-color:#ccffcc; }

td, th { border: 2px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) { background-color: #dddddd;}

h1 {font-family: arial, sans-serif;
 color :#00ff99;
text-align:center; 
text-decoration:underline;
font-size:2em;}	

h2 {font-family: arial, sans-serif;
 color :#ff6600;
text-align:center; 
text-decoration:underline;
font-size:2em;}

p {font-family: arial, sans-serif;}